:root {
  --red: #d01c28;
  --gray: #2e2e2e;
}
* {
  margin: 0;
}
button {
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}
nav img{
  width:80px;
  height:80px;

}
.hero{
  display: flex;
  align-items: center;
 
}

.contain {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.hero p {
 
  max-width: 400px;
}
